.UserContainer {
  padding: 16px;
  width: 350px;
}

.UserContainer > h5:not(:first-of-type) {
  margin-top: 2rem;
}

.IsButton {
  cursor: pointer;
}

.UserDetailsModal {
  margin-top: 8%;
}

.UserDetailsContainer {
  padding: 1rem;
  width: 325px;
  background-color: #fff;
}

.UserDetailsContainer button {
  margin-top: 2rem;
  width: 100%;
}
